*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/google-services.json
/app/src/main/res/values/strings_secrets.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
