.full-screen-outer {
    position:  absolute;
    width: 100%;
    bottom: 50px;
    top: 50px;
}

#overlay-canvas {
    width: 500px;
    height: 500px;
}

.full-height {
    height: 100%;
}

.logo-title-up {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: -0.2rem;
}

.logo-title-down {
    font-size: 0.7rem;
    padding-top: 0; 
    padding-bottom: 0; 
    color: #a0a0a0;
}

#microsoft {
    color: #a0a0a0;
}

#microsoft-center {
    color: #a0a0a0;
    text-align: center;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.nav-logo-img {
    width: 50px;
}

#counter {
    color: #c1c1c1;
}

#time {
    color: #c1c1c1;
}